/* Charset */
@charset "utf-8";
/* Font Settle */
@font-face {
  font-family: "Pfeffer";
  src: url(./../fonts/Pfeffer.otf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(./../fonts/Ubuntu.ttf);
}
@font-face {
  font-family: "Viana";
  src: url(./../fonts/VianaScript.ttf);
}
@font-face {
  font-family: "HoneyBee";
  src: url(./../fonts/HoneyBee.ttf);
}
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:wght@800|Vollkorn:400,700&display=swap&subset=latin-ext");
/*font-family: "Vollkorn",serif;*/
* {
  font-family: "Ubuntu";
}
/* Basic Card Style */
.card {
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  min-width: 35vmin;
  min-height: 35vmin;
  display: flex;
  place-items: center;
  padding: 3ch;
  border-radius: 2ch;
  border: 1px solid hsl(0 0% 83%);
}
/* Basic Tile Style */
.grid {
  padding: 5px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  margin: 0.5em;
  min-height: 15em;
}
.grid.min {
  min-height: 0em;
}
.grid.tile {
  background-color: initial;
}
.container {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  column-count: unset;
  column-gap: unset;
}
/* <a> style*/
a {
  text-decoration: none;
}
a img {
  border: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
/*Sidebar Style*/
.sidebar.narrow {
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  width: 6.5em;
  height: 100vh;
  background-image: url(./../img/backs/blockchain2.png),
    linear-gradient(beige, beige);
  background-position: right, left;
  background-repeat: repeat-y, no-repeat;
  background-size: 20%, 80%;
}

.sidebar .menu {
  font-size: 1em;
  position: fixed;
  left: var(--g-margin);
  width: calc(6.5em - var(--g-margin) * 2);
  min-height: 10em;
  background-color: none;
}
.sidebar .menu.upper {
  top: 12.5em;
}
.sidebar .menu.downer {
  bottom: var(--g-margin);
}
.sidebar .menu .m-icon {
  width: 100%;
  text-align: center;
  height: 3em;
}
.sidebar .menu .balloon .m-icon {
  text-align: left;
}
.sidebar .menu .m-icon img {
  width: 60%;
}
.sidebar .menu .balloon .m-icon img {
  width: 60%;
}
.sidebar .menu .m-icon span.ll {
  display: none;
}
.sidebar .menu a:hover .m-icon span.ll {
  position: relative;
  display: block;
  top: -1.4em;
  left: 2.2em;
  background-color: aliceblue;
  width: 4em;
  height: 1.3em;
  font-size: 1.7em;
  font-weight: 600;
  z-index: 800;
}
.balloon .container {
  column-count: 3;
  column-gap: 0;
}
/* Header Style*/
.header {
  position: fixed;
  background-color: azure;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7.4em;
  z-index: 600;
  padding-left: 13em;
  padding-top: 0.8em;
}
.header span.tt:first-of-type {
  font-size: 2.75em;
  font-weight: 580;
}
.header span.tt:first-of-type span:lang(ja) {
  font-family: serif;
}
.header span.tt:last-of-type {
  font-size: 1.85em;
  font-family: "Times New Roman";
}
/*Body*/
:root {
  --g-margin: 1.2em;
}
body {
  background-image: url(./../img/backs/back.svg);
}
.base-body {
  box-sizing: border-box;
  font-size: 1em;
  min-height: 200vh;
  width: 100%;
  margin: 0 0 0 0;
}
/*Logo*/
.logo {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1em;
  width: 11em;
  background-color: azure;
  margin: 0;
  padding: 0;
  z-index: 900;
  text-align: center;
  border-bottom-right-radius: 4em 2.5em;
}
.logo span {
  position: relative;
  bottom: 0.68em;
  font-size: 2em;
}
.logo img {
  width: 9em;
}
/*Main*/
/*
.main {
  position: relative;
  right: 0px;
  top: 8.5em;
  width: calc(100% - 6.5em);
  min-height: 83vh;
  margin-right: 0px;
  margin-left: auto;
  z-index: 0;
}*/
/*Balloon style*/
.balloonoya {
  position: relative; /* 指定した分だけ相対的に移動 */
}
.balloon1 {
  display: none; /* 要素を非表示 */
}
.balloon {
  position: absolute; /* 親要素を基準 */
  display: block; /* 要素をインラインとして表示 */
  padding: 2px; /* テキストの前後の余白 */
  background-color: aliceblue; /* 背景色（透明度） */
  width: 180px;
  min-height: 180px; /* 吹き出し全体の幅 */
  left: 6em; /* 表示位置 */
  font-size: 80%; /* 文字サイズ */
  z-index: 1000;
  bottom: 0em;
}
.balloon:after {
  border-right: 12px solid aliceblue; /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  left: -12px; /* 吹き出し口の位置調整 */
  bottom: 5%; /* 吹き出し口の縦位置 */
  content: ""; /* コンテンツの挿入 */
  position: absolute; /* 親要素を基準 */
  z-index: 1000;
}
.area {
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
 
.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}